In [103]:
import pandas as pd
from surprise import SVD
from surprise import SVDpp
from surprise import NMF
from surprise import Reader
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import cross_validate
from surprise.model_selection import train_test_split

# 데이터 생성

In [104]:
df = pd.read_csv("philadelphia_reviews.csv")
df

                       user_id             business_id  stars
0       _7bHUi9Uuf5__HHc_Q8guQ  kxX2SOes4o-D3ZQBkiMRfA      5
1       kSMOJwJXuEUqzfmuFncK4A  kxX2SOes4o-D3ZQBkiMRfA      2
2       mqBWACmaHflW4eh_Ofp16Q  kxX2SOes4o-D3ZQBkiMRfA      5
3       Z-xgVb4nM42943m2wbBkFw  kxX2SOes4o-D3ZQBkiMRfA      5
4       2SEoXb6r6hPKrl9V9VzBgA  kxX2SOes4o-D3ZQBkiMRfA      5
...                        ...                     ...    ...
738683  reFwg-F-MCoRS1pA2YexMg  BEuGzy5gxtGyOEk8iwDfTg      5
738684  dh3UhfqpFSoCitl8WCrdfw  BEuGzy5gxtGyOEk8iwDfTg      5
738685  nXwPLYvazD_Nd2Sar3eSWA  BEuGzy5gxtGyOEk8iwDfTg      5
738686  MlOJCxiiB1TeZN-is2Q4SA  BEuGzy5gxtGyOEk8iwDfTg      5
738687  AKXL58tPS_jNdT5DH5NhhA  BEuGzy5gxtGyOEk8iwDfTg      5

[738688 rows x 3 columns]

In [105]:
reader = Reader(rating_scale=(1, 5))

In [106]:
data = Dataset.load_from_df(df[["user_id", "business_id", "stars"]], reader=reader)
data

# Dataset 분리

In [107]:
trainsset, testset = train_test_split(data, test_size=0.25)

# 훈련

In [108]:
algo = SVD()

In [109]:
algo.fit(trainsset)

# 테스트

In [110]:
predictions=algo.test(testset)

In [111]:
accuracy.rmse(predictions)

RMSE: 1.1775

1.1774503077583924

## 예측 평점 계산

In [112]:
df[df.user_id == "kSMOJwJXuEUqzfmuFncK4A"]

                       user_id             business_id  stars
1       kSMOJwJXuEUqzfmuFncK4A  kxX2SOes4o-D3ZQBkiMRfA      2
37013   kSMOJwJXuEUqzfmuFncK4A  O6hY9yenifuRXrpc4TfgsQ      3
365018  kSMOJwJXuEUqzfmuFncK4A  YpV0DniZQKnG6mWVVl-TSw      3
413121  kSMOJwJXuEUqzfmuFncK4A  5ebgEvBg1-harVzszDA02g      5
568140  kSMOJwJXuEUqzfmuFncK4A  6KXJk2AWH3NxZBuCdkggVQ      3

In [121]:
algo.predict("kSMOJwJXuEUqzfmuFncK4A", "5ebgEvBg1-harVzszDA02g", 5)

Prediction(uid='kSMOJwJXuEUqzfmuFncK4A', iid='5ebgEvBg1-harVzszDA02g', r_ui=5, est=3.479603105770406, details={'was_impossible': False})

In [122]:
algo.predict("kSMOJwJXuEUqzfmuFncK4A", "6KXJk2AWH3NxZBuCdkggVQ", 3)

Prediction(uid='kSMOJwJXuEUqzfmuFncK4A', iid='6KXJk2AWH3NxZBuCdkggVQ', r_ui=3, est=4.229428316136511, details={'was_impossible': False})

In [123]:
algo.predict("kSMOJwJXuEUqzfmuFncK4A", "kxX2SOes4o-D3ZQBkiMRfA", 3)

Prediction(uid='kSMOJwJXuEUqzfmuFncK4A', iid='kxX2SOes4o-D3ZQBkiMRfA', r_ui=3, est=3.42211416770208, details={'was_impossible': False})